#legende1
{
  background-color: rgb(37,116,109);
}
#section1
{
  background-color: rgb(37,116,109);
}
#legende2
{
  background-color: rgb(154,18,179);
}
#section2
{
  background-color: rgb(154,18,179);
}
#legende3
{
  background-color: rgb(219,10,91);
}
#section3
{
  background-color: rgb(219,10,91);
}
